.display-none{
    display:none;
}

.padding-bottom-2em{
    padding-bottom:2em;
}

.width-30-pct{
    width:30%;
}

.width-40-pct{
    width:40%;
}

.overflow-hidden{
    overflow:hidden;
}

.margin-right-1em{
    margin-right:1em;
}

.right-margin{
    margin:0 .5em 0 0;
}

.margin-bottom-1em {
    margin-bottom:1em;
}

.margin-zero{
    margin:0;
}

.text-align-center{
    text-align:center;
}

#loader-image{
    display:none;
}

.loader-image{
    margin: auto;
    width: 300px;
}

.search-container{
    width: 20%;
    float:left;
}